@media screen and (min-width: 540px) {
    .clients .companies{
        grid-template-columns: repeat(3,1fr);
    }
    .guide .steps{
        grid-template-columns: repeat(3, 1fr);
    }
    .progress .done span{
        font-size: 58px;
    }
}
@media screen and (min-width: 700px) {
    .clients .companies{
        grid-template-columns: repeat(6,1fr);
    }
    .newsletter .container{
        height: 365px;
        padding: 60px 80px;
    }
    .newsletter .placeholder{
        display: block;
        max-width: 42%;

        position: absolute;
        right: 40px;
        bottom: 0;
    }
    footer .top{
        grid-template-columns: repeat(4, 1fr);  
    }
    footer .bottom{
        grid-template-columns: 1fr 2fr;
    }
    footer .bottom p{
        text-align: right;
    }
    
}

@media screen and (min-width: 850px) {
    header .left .nav-desktop{
        display: block;
        display: flex;
    }
    .hamb{
        display: none;

        .hero .desc .title{
            font-size: 64px;
        }
    }
}
@media screen and (min-width: 920px){
    .hero{
        background-size: 35%;
    }
}
@media screen and (min-width: 1280px){
    .hero{
        background-size: 35%;
    }
}